.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    margin: 0 auto;
	height: 350px;
	width:100%

  }
  
.slide{
	width:800px;
	height: 100%;
	border-radius:7px;
}
.main_slide_wrap{
	width:100%;
	height:350px;
	background:#fff;	
}

.custom_col{
	width:240px;
	margin-right:5px;
	margin-left:5px;
	display:inline-block;
}

.custom_col > img {
	width: 150px;
	height: 150px;
	margin-top:10px;
	margin-left:45px;
}
.custom_col > div > h3 {
	width:100%;
	text-align:center;
}
.custom_col>p{
	width:100%;
	text-align:center;
	padding:5px;
}