.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    margin: 0 auto;
	height: 270px;
	width:100%

  }
  
.slide{
	width:800px;
	height: 100%;
	border-radius:7px;
}
.main_slide_wrap{
	width:100%;
	height:270px;
	background:#ff1;	
}

.custom_col{
	width:240px;
	height:270px;
	margin-right:5px;
	margin-left:5px;
	background:#fa3;
	display:inline-block;
}