body{
	background:#fff;	
}
.cart_item_num{
	position:absolute;
	margin-top:-10px;
	background-color:#18a4d8;
	color:white;
	width:22px;
	height:22px;
	border-radius:45px;
	text-align:center;
	font-size:14px;
	font-weight:normal;
	line-height:21px;
}
.modal-open .navbar-fixed-top{
	padding-right:17px;
}

#myModal_cart tbody{
display:block;
}
#myModal_cart thead>tr{
position:relative;
display:block;
}
#myCarousel .item {
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.shadow{
  -webkit-box-shadow: 2px 1px 1px 1px #F8CFE7,-2px 1px 1px 1px #F8CFE7;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    2px 1px 1px 1px #F8CFE7,-2px 1px 1px 1px #F8CFE7;  /* Firefox 3.5 - 3.6 */
  box-shadow:         2px 1px 1px 1px #F8CFE7,-2px 1px 1px 1px #F8CFE7;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.shadow_top{
  -webkit-box-shadow: -2px -1px 1px 1px #F8CFE7,2px -1px 1px 1px #F8CFE7;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    -2px -1px 1px 1px #F8CFE7,2px -1px 1px 1px #F8CFE7;  /* Firefox 3.5 - 3.6 */
  box-shadow:         -2px -1px 1px 1px #F8CFE7,2px -1px 1px 1px #F8CFE7;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.header_wrapper{
	width:100%;
}
.header_topbar{
	width:100%;
	background-color:rgba(245, 235, 235, 0.46);
	height:25px;
	font-size:15px;
	color:brown;
	line-height:25px;
}
.topbar_call{
	float:left;
	padding-left:30px;
}
.topbar_mail{
	float:right;
	padding-right:30px;
}
.cart{
	z-index:100;
	position:absolute;
	top:70px;
	right:100px;
	cursor:pointer;
}

/*Main Page Products Display Css */
.mainpage_body{
	width:1100px;
	position:relative;
	margin:auto;
	margin-top:60px;
	background:#fff;
	height:100%;
	box-shadow: 0 4px 5px 2px rgba(0,0,0,.3);
}
.container{
	width:auto;
}
.carousel_wrapper{
	width:100%;
	background-color:white;
	margin:10px 0px;
	border:1px solid #ccc;
	border-radius:10px;
	height:220px;
	position:relative;
}
.productdisplay_wrap{
	padding-top:5px;
}
.banner{
	width:720px;
	float:left;
	padding:10px;
}
.topsellers{
	width:31%;
	float:left;
	padding:10px;
	margin-top:5px;
}
.topsellers .thumbnail{
	margin-bottom:0px;
}

/*Buy Button*/
.buy{
	border-radius:4px;
	padding:5px 15px;
	font-size:16px;
}
.checkout{
	border-radius:4px;
	padding:5px 15px;
	font-size:16px;
}
/*Ribbon for best sellers*/
#ribbon-container {
				position: absolute;
				top: 15px;
				right: -35px;
				overflow: visible; /* so we can see the pseudo-elements we're going to add to the anchor */
				font-size: 18px; /* font-size and line-height must be equal so we can account for the height of the banner */
				line-height: 18px;
			}
			
			#ribbon-container:before {
				content:"";
				height: 0;
				width: 0;
				display: block;
				position: absolute;
				top: 3px;
				left: 0;
				border-top: 29px solid rgba(0,0,0,.3); /* These 4 border properties create the first part of our drop-shadow */
				border-bottom: 29px solid rgba(0,0,0,.3); 
				border-right: 29px solid rgba(0,0,0,.3);
				border-left: 29px solid transparent;
			}
			
			#ribbon-container:after { /* This adds the second part of our dropshadow */
				content:"";
				height: 3px;
				background: rgba(0,0,0,.3);
				!background: #46A2F0;
				display: block;
				position: absolute;
				bottom: -3px;
				left: 58px;
				right:3px;
			}
			
			#ribbon-container a {
				display:block;
				padding:20px;
				position:relative; /* allows us to position our pseudo-elements properly */
				background:#46A2F0;
				overflow:visible;
				height:58px;
				margin-left:29px;
				color:#fff;
				text-decoration:none;
			}
			
			#ribbon-container a:after { /* this creates the "folded" part of our ribbon */
				content:""; 
				height: 0;
				width: 0;
				display:block;
				position:absolute;
				bottom:-15px;
				right:0;
				border-top: 15px solid #46A2F0; 
				border-right: 15px solid transparent;
			}
			
			#ribbon-container a:before { /* this creates the "forked" part of our ribbon */
				content:"";
				height: 0;
				width: 0;
				display:block;
				position:absolute;
				top:0;
				left:-29px;
				border-top: 29px solid #46A2F0; 
				border-bottom: 29px solid #46A2F0; 
				border-right: 29px solid transparent;
				border-left: 29px solid transparent;
			}
			
			#ribbon-container a:hover {
				background:#1384E4;
			}
			
			#ribbon-container a:hover:before { /* this makes sure that the "forked" part of the ribbon changes color with the anchor on :hover */
				border-top: 29px solid #1384E4; 
				border-bottom: 29px solid #1384E4;
			}


/*Affix Nav bar*/
#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}
#nav.affix .cart_fixed{
	display:block;
}
.cart_fixed{
	float:right;
	padding-top:14px;
	padding-right:10px;
	padding-left:5px;
	display:none;
}
.cart_item_num_fixed{
	position:absolute;
	margin-top:-10px;
	background-color:#FFF;
	color:#18a4d8;
	width:22px;
	height:22px;
	border-radius:45px;
	text-align:center;
	font-size:14px;
	font-weight:normal;
	line-height:21px;
}
/*Navbar height reduce*/
.navbar-nav > li > a, .navbar-brand{
    padding-top:10px !important; padding-bottom:0 !important;
    height: 43px;
}
.navbar {min-height:40px !important;}
.navbar-form{
	 padding-bottom:0;
	 padding-top:4px;
	 height:30px;
	 margin:0px;
}
.navbar-default{
!background-image: linear-gradient(to bottom, #4EA1E9 0px, #1F6DB0 100%);
background-image: linear-gradient(to bottom, #679fce 0px, #286fab 100%);
width:1102px;
margin-left:-16px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: rgba(206, 218, 29, 1);
    background-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
    background-image: linear-gradient(to bottom, #D7E1F9 0px, #CDCFE7 100%);
	font-size:17px;
}
.navbar-default .navbar-brand {
    color: #FFF;
}
.navbar-default .navbar-nav > li > a {
    color: #FFF;
}
.item_type_select{
	cursor:pointer;
}

/*Product display*/
.product_wrapper{
	width:25%;
	float:left;
	padding:0px 15px;
}

